In [8]:
#import libraries
!pip install kaggle
import kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv --force

Requirement already satisfied: kaggle in c:\users\hiba\anaconda\lib\site-packages (1.6.14)
Requirement already satisfied: six>=1.10 in c:\users\hiba\anaconda\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\hiba\anaconda\lib\site-packages (from kaggle) (2024.6.2)
Requirement already satisfied: python-dateutil in c:\users\hiba\anaconda\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\hiba\anaconda\lib\site-packages (from kaggle) (2.32.2)
Requirement already satisfied: tqdm in c:\users\hiba\anaconda\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in c:\users\hiba\anaconda\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\hiba\anaconda\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: bleach in c:\users\hiba\anaconda\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\hiba\anaconda\lib\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in c:\users\hiba\anaconda\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\hiba\anaconda\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hiba\anaconda\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hiba\anaconda\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\hiba\anaconda\lib\site-packages (from tqdm->kaggle) (0.4.6)
Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\HIBA\OneDrive\Documents\hiba_project\retail_analysis_python_sql

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 4.62MB/s]

In [12]:
#extract file from zip file
import zipfile
zip_ref=zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall() #extract file to dir
zip_ref.close() # close file

In [3]:
#read data from the file and handle null values
import pandas as pd
df=pd.read_csv('orders.csv',na_values=['Not Available', 'unknown'])
df.head(20)

    Order Id  Order Date       Ship Mode      Segment  ... cost price List Price Quantity  Discount Percent
0          1  2023-03-01    Second Class     Consumer  ...        240        260        2                 2
1          2  2023-08-15    Second Class     Consumer  ...        600        730        3                 3
2          3  2023-01-10    Second Class    Corporate  ...         10         10        2                 5
3          4  2022-06-18  Standard Class     Consumer  ...        780        960        5                 2
4          5  2022-07-13  Standard Class     Consumer  ...         20         20        2                 5
5          6  2022-03-13             NaN     Consumer  ...         50         50        7                 3
6          7  2022-12-28  Standard Class     Consumer  ...         10         10        4                 3
7          8  2022-01-25  Standard Class     Consumer  ...        860        910        6                 5
8          9  2023-03-23             NaN     Consumer  ...         20         20        3                 2
9         10  2023-05-16  Standard Class     Consumer  ...         90        110        5                 3
10        11  2023-03-31             NaN     Consumer  ...       1470       1710        9                 3
11        12  2023-12-25             NaN     Consumer  ...        750        910        4                 3
12        13  2022-02-11  Standard Class     Consumer  ...         20         20        3                 3
13        14  2023-07-18  Standard Class     Consumer  ...        360        410        3                 2
14        15  2023-11-09             NaN  Home Office  ...         60         70        5                 5
15        16  2022-06-18  Standard Class  Home Office  ...          0          0        3                 5
16        17  2022-02-04  Standard Class     Consumer  ...        610        670        6                 3
17        18  2023-08-04    Second Class     Consumer  ...         60         60        2                 4
18        19  2022-01-23    Second Class     Consumer  ...         10         10        2                 4
19        20  2022-01-11    Second Class     Consumer  ...        170        210        3                 3

[20 rows x 16 columns]

In [5]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [25]:
#rename column names. convert to lowercase and replace space with underscore
#df.columns=df.columns.str.lower()
#df.columns=df.columns.str.replace(' ','_')
df.head(5)

   order_id  order_date       ship_mode    segment  ... cost_price list_price quantity  discount_percent
0         1  2023-03-01    Second Class   Consumer  ...        240        260        2                 2
1         2  2023-08-15    Second Class   Consumer  ...        600        730        3                 3
2         3  2023-01-10    Second Class  Corporate  ...         10         10        2                 5
3         4  2022-06-18  Standard Class   Consumer  ...        780        960        5                 2
4         5  2022-07-13  Standard Class   Consumer  ...         20         20        2                 5

[5 rows x 16 columns]

In [35]:
#new columns- discount, sale price, and profit
#df['discount']=df['list_price']*df['discount_percent']*.01
#df['sale_price']=df['list_price']-df['discount']
#df['profit']=df['sale_price']-df['cost_price']
df

      order_id  order_date       ship_mode    segment  ... discount_percent discount sale_price  profit
0            1  2023-03-01    Second Class   Consumer  ...                2      5.2      254.8    14.8
1            2  2023-08-15    Second Class   Consumer  ...                3     21.9      708.1   108.1
2            3  2023-01-10    Second Class  Corporate  ...                5      0.5        9.5    -0.5
3            4  2022-06-18  Standard Class   Consumer  ...                2     19.2      940.8   160.8
4            5  2022-07-13  Standard Class   Consumer  ...                5      1.0       19.0    -1.0
...        ...         ...             ...        ...  ...              ...      ...        ...     ...
9989      9990  2023-02-18    Second Class   Consumer  ...                4      1.2       28.8    -1.2
9990      9991  2023-03-17  Standard Class   Consumer  ...                4      3.6       86.4    16.4
9991      9992  2022-08-07  Standard Class   Consumer  ...                2      5.2      254.8    34.8
9992      9993  2022-11-19  Standard Class   Consumer  ...                3      0.9       29.1    -0.9
9993      9994  2022-07-17    Second Class   Consumer  ...                3      7.2      232.8    22.8

[9994 rows x 19 columns]

In [49]:
#convert order date from object data type to datetime
#df.dtypes
pd.to_datetime(df['order_date'], format="%Y-%m-%d")

0      2023-03-01
1      2023-08-15
2      2023-01-10
3      2022-06-18
4      2022-07-13
          ...
9989   2023-02-18
9990   2023-03-17
9991   2022-08-07
9992   2022-11-19
9993   2022-07-17
Name: order_date, Length: 9994, dtype: datetime64[ns]

In [55]:
#drop unnecessary columns (cost price, list price, discount percent)
df.drop(columns=['list_price','cost_price','discount_percent'], inplace=True)

In [67]:
#load data into SQL server using replace option
import sqlalchemy as sal
import pyodbc

# Correct connection string with appropriate driver
connection_string = (
    'mssql+pyodbc://DESKTOP-DEJ6OJK\\SQLEXPRESS/master?'
    'driver=ODBC+Driver+17+for+SQL+Server'
)

# Create an engine instance
engine = sal.create_engine(connection_string)

# Establish a connection
conn = engine.connect()

# Verify connection
print("Connection successful!")

Connection successful!

In [75]:
#load the data into sql server using append option
df.to_sql('df_orders',con=conn, index=False, if_exists='append')

38

In [71]:
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'quantity', 'discount', 'sale_price', 'profit'],
      dtype='object')